calplot==0.1.7.5
catboost==1.2.5
dash==2.17.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
Flask==3.0.3
holidays==0.48
imbalanced-learn==0.12.2
joblib==1.4.2
json5==0.9.6
kaleido==0.1.0
lightgbm==4.3.0
neptune==1.10.2
plotly==5.19.0
plotly_calplot==0.1.20
plotly-resampler==0.10.0
pmdarima==2.0.4
polars==0.20.22
prophet==1.1.4
pyodbc==5.1.0
python-dotenv==1.0.1
scikit-learn==1.4.2
scipy==1.13.0
shap==0.42.1
simplejson==3.17.6
SQLAlchemy==2.0.30
statsmodels==0.14.0
webp==0.3.0
xgboost==2.0.3
